@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F1500;  
  --foreground: #283606; 
  

}

@font-face {
  font-family: 'Playfair Display';
  src: url('/app/PlayfairDisplay.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/app/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  color: var(--foreground); 
  background: linear-gradient(135deg, var(--foreground), var(--background));
}
.navbar{
  background:var(--background)
}
.card-bg{
  background:var(--foreground)
}

